extends ../layouts/default


block content
    #pricingheader
      .container
        .row
          .col-md-12.centered
            h2 Pay on performance pricing
            h4 Guaranteed 10% improvement or your money back*
            br
        .row
          div.col-sm-4.col-md-4
            div.plan
              div.head
                h2.pricePlan Entrepreneur
              ul.item-list
                li
                  strong Up to &nbsp;
                  | 50,000 unique visitors/mo
                li
                  strong Get &nbsp;
                  | an average &nbsp;
                  strong 3x ROI
                li
                  strong Guaranteed &nbsp;
                  |  Lift of 10%
              div.price
                h4 Starts at &nbsp;
                h3
                  span.symbol $
                  | 1500
              button.btn.btn-success(type='button') Get a Quote

          div.col-sm-4.col-md-4
            div.plan
              div.head
                h2.pricePlan Growing Business
              ul.item-list
                li
                  strong Up to &nbsp;
                  | 50,000 unique visitors/mo
                li
                  strong Get &nbsp;
                  | an average &nbsp;
                  strong 5x ROI
                li
                  strong Guaranteed &nbsp;
                  |  Lift of 10%
              div.price
                h4 Starts at &nbsp;
                h3
                  span.symbol $
                  | 4500
              button.btn.btn-success(type='button') Get a Quote

          div.col-sm-4.col-md-4
            div.plan
              div.head
                h2.pricePlan Enterprise
              ul.item-list
                li
                  strong Over &nbsp;
                  | 50,000 unique visitors/mo
                li
                  strong Get &nbsp;
                  | an average &nbsp;
                  strong 8x ROI
                li
                  strong Guaranteed &nbsp;
                  |  Lift of 10%
              div.price
                h4 Starts at &nbsp;
                h3
                  span.symbol Custom Quote
              button.btn.btn-success(type='button') Get a Quote

    // headerwrap
    .pricingfaq
      .container
        .row
          .col-lg-6
            h3.text-center How long will it take?
            p
              | Challenges typically last 2-8 weeks. It depends on many unique visitors your
              | website receives. More visitors means less time to reach statistical significance.
          .col-lg-6
            h3.text-center How do you make site changes?
            p
              | We make all site changes. You simply install one piece of javascript code into your
              | site's header tag, and we'll take care of the rest.
        // row
        .row
          br
          .col-lg-6
            h3.text-center What kind of reports will I get?
            p
              | You'll have full access to the test results during and after testing, clearly showing
              | the performance of our test designs versus your original site.
          .col-lg-6
            h3.text-center How do you determine results?
            p
              | All results are determined at a 95% confidence interval. Results must hold for a
              | minimum of one week to be proven valid.
        .row
          .col-lg-12
            h3.text-center Have more questions?
            br
            p
              | Send us an email
        // row
      // container
    // pricingfaq

