extends ../layouts/default

block content

    include nav-blue-default.jade

    #challengeheader
      .container.calign.image-1(style="max-width: 1158px; width: auto;")
        .row.centered
          .col-lg-12
            h2.image-1 A faster way to boost conversion
            h4.description.image-1
              | Use the world's largest optimization network to boost performance
      // container
    // challengeheader

    .container.w(style="max-width: 1158px; width: auto;")
      .row
        .col-lg-12
          .container.calign.image-3(style="max-width: 1158px; width: auto;")
            h2.mid-promo.image-4.main-title Get test ideas, lightning-fast
            p
              | Let experts from 20+ countries review your site and <br>provide ideas for increased performance.
            .site.image-3
            .popup.left.popup-1.hidden-xs.hidden-sm(style='width: 290px')
              .cap
              .body
                .lb
                .rb
                .text Change headline on the homepage
              // body
              .ftr
                .arw
              // ftr
            //popup
            .popup.left.popup-2.hidden-xs.hidden-sm(style='width: 265px')
              .cap
              .body
                .lb
                .rb
                .text Add key calls to action
              // body
              .ftr
                .arw
              // ftr
            //popup
            .popup.right.popup-3.hidden-xs.hidden-sm(style='width: 290px')
              .cap
              .body
                .lb
                .rb
                .text Remove form the input fields
              // body
              .ftr
                .arw
              // ftr
            //popup
            .popup.right.popup-4.hidden-xs.hidden-sm(style='width: 290px')
              .cap
              .body
                .lb
                .rb
                .text Add security affirmations
              // body
              .ftr
                .arw
              // ftr
            //popup


      .row
        .col-lg-12
          .container.calign.image-3(style="max-width: 1158px; width: auto;")
            h2.mid-promo.image-4.main-title Easy implementation
            p.description
              | Simply install one piece of testing code on your site. We'll do <br>
              | all the heavy lifting to make design changes to your site.

            .site-highlighted.image-3
            .idea-1.hidden-xs.hidden-sm
            .idea-2.hidden-xs.hidden-sm
            .idea-3.hidden-xs.hidden-sm
            .idea-4.hidden-xs.hidden-sm


          .container.calign.image-4(style="width: auto;")
            h2.mid-promo.image-4.main-title Pay for results
            p.description
              | No agency or consulting fees. Our pay-on-performance pricing model makes sure <br>
              | you only pay for conversion improvement.

          .more-questions
            //- 28 reg 2b2f36
            .title Want to learn more?
            .button(data-toggle="modal" data-target="#myModal") Get a free evalation for your site.