extends ../layouts/default

block content
    #challengeheader
      .container.calign.image-1
        .row.centered
          .col-lg-12
            h2.image-1 A faster way to boost conversion
            h4.description.image-1
              | Use the world's largest optimization network to boost performance
      // container
    // challengeheader

    .container.w
      .row
        .col-lg-12
          .container.calign.image-3
            h2.mid-promo.image-4 Get test ideas, lightning-fast
            p
              | Let experts from 20+ countries review your site and <br>provide ideas for increased performance.
            .site.image-3
            .popup.left.popup-1(style='width: 290px')
              .cap
              .body
                .lb
                .rb
                .text
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              // body
              .ftr
                .arw
              // ftr
            //popup
            .popup.left.popup-2(style='width: 265px')
              .cap
              .body
                .lb
                .rb
                .text
                  | Duis aute irure dolor in velit.
              // body
              .ftr
                .arw
              // ftr
            //popup
            .popup.right.popup-3(style='width: 290px')
              .cap
              .body
                .lb
                .rb
                .text
                  | Ut enim ad minim veniam, quis nostrud exercitation.
              // body
              .ftr
                .arw
              // ftr
            //popup
            .popup.right.popup-4(style='width: 290px')
              .cap
              .body
                .lb
                .rb
                .text
                  | Excepteur sint occaecat cupidatat non proident, sut in culpa qui officia deserunt
              // body
              .ftr
                .arw
              // ftr
            //popup


      .row
        .col-lg-12
          .container.calign.image-3
            h2.mid-promo.image-4 Easy implementation
            p.description
              | Simply install one piece of testing code on your site. We'll do <br>
              | all the heavy lifting to make design changes to your site.

            .site-highlighted.image-3
            .idea-1
            .idea-2
            .idea-3
            .idea-4

      .row
        .col-lg-12
          .container.calign.image-4
            h2.mid-promo.image-4 Pay for results
            p.description
              | No agency or consulting fees. Our pay-on-performance pricing model makes sure <br>
              | you only pay for conversion improvement.
      .row
        .col-lg-12
          .container.calign
            h2.mid-promo.image-5 Want to learn more?
            a.button.green.button-image5-pp
              | Get a free evalation for your site.
          // container

      br
      br
    // container
    // PORTFOLIO SECTION
