extends ../layouts/default

block content

	include nav-blue-default.jade

	.container.container-about.border-bottom(style="max-width: 1158px; width: auto;")
		.row
			br
			br
			h1.text-center.main-title Get in Touch
			br
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				p.text-left
					| Complete the form below and we'll be in touch within 24 hours. <br>If you have an urgent request,
					| please call us directly at 512-650-0972.

				if enquirySubmitted
					h3 Thanks for getting in touch.
				else
					.uplift-form
						form(method='post')

							.input-group

								input(type='hidden', name='action', value='contact')

								.col-lg-12.col-md-12.col-sm-12.col-xs-12(style="border-bottom: 1px solid #E2E2E2;")
									.input-home(class=validationErrors.email ? 'has-error' : null)
										label Work Email
										input(type='email', name='email', value=formData.email).form-control

								//- .col-lg-12.col-md-12.col-sm-12.col-xs-12(style="border-bottom: 1px solid #E2E2E2;")
									.input-home
										label Phone
										input(type='text', name='phone', value=formData.phone).form-control
							
								.col-lg-12.col-md-12.col-sm-12.col-xs-12(style="border-bottom: 1px solid #E2E2E2;")
									.input-home(class=validationErrors.message ? 'has-error' : null)
										label How can we help?
										textarea(name='message', rows=4).form-control= formData.message
							
								.col-lg-12.col-md-12.col-sm-12.col-xs-12.col-no-padding
									.button-home
										button(type='submit').submit.btn Send Me!

			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				.right-map
					p.text-left We're located in sunny Austin, TX.
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27567.537188113758!2d-97.75077239999993!3d30.267229500000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b5a09f79a589%3A0x4b5d42b7eafac86d!2sAustin%2C+TX+78701!5e0!3m2!1sen!2sus!4v1421619474917" width="400" height="300" frameborder="0" style="border:0; width:100%"></iframe>