extends ../layouts/default

block content
  .upper
    .header

      a.logo(href='javascript:void(0)')
        img(src='images/logo.png', alt='uplift', title='uplift')
      
      .right
        nav.upper-nav
          ul
            li
              a(href='javascript:void(0)') Challenges
            li
              a(href='javascript:void(0)') Pricing
            li.dropdown
              a(href='javascript:void(0)') Resources
              ul
                li
                  a(href='javascript:void(0)') Submenu
                li
                  a(href='javascript:void(0)') Submenu Submenu
                li
                  a(href='javascript:void(0)') Submenu Submenu Submenu
            li.dropdown
              a(href='javascript:void(0)') More
              ul
                li
                  a(href='javascript:void(0)') Submenu
                li
                  a(href='javascript:void(0)') Submenu Submenu
                li
                  a(href='javascript:void(0)') Submenu Submenu Submenu

        a.evaluate(href='javascript:void(0)') Free evaluation


    .hero
      .info
        h1.main-title Increase conversion rate - guaranteed
        p.main-description Challenge top optimization experts to improve site performance. 
          span Only pay for results.
      .form
        form(method='POST', action='/')
          fieldset.input-group
            input.url(type='text', placeholder='Type your URL')
            input.email(type='text', placeholder='Enter your Email')
          input.submit(type='submit', value='Get Started')
    .graph
      img(src='images/graph.png', alt='uplift')



  .advantages-wrap
    .advantages
      .adv-wrap
        .adv-offset
          h2.main-title We make it easy to increase conversion rates
          ul
            li.optimizing
              .icon
                img(src='images/devices.png', alt='Optimize Anything')
              .title Optimize Anything
              .descr
                | E-commerce, mobile, apps,
                br
                | landings pages & more.
            li.pricing
              .icon
                img(src='images/stat.png', alt='Simple Pricing')
              .title Simple Pricing
              .descr
                | Pay-on-performance contracts.
                br
                | No consulting fees.
            li.results
              .icon
                img(src='images/check.png', alt='Guaranteed Results')
              .title Guaranteed Results
              .descr
                | Only pay for conversion
                br
                | improvement.

  .results-wrap
    .results
      .res-wrap
        .res-offset
          h2.main-title Our progress to date
          ul
            li
              .value
                span + 
                |  28%
              .descr Average Uplift
            li
              .value
                span $ 
                |  11.2 M
              .descr Total Additional Sales
            li
              .value
                |  12 X
                //- span X 
              .descr Average ROI