extends ../layouts/default

block content
  
  include nav-home.jade
  
  .advantages-wrap
    .advantages
      .adv-wrap
        .adv-offset
          h2.main-title We make it easy to increase conversion rates
          ul
            li.optimizing
              .icon
                img(src='images/devices.png', alt='Optimize Anything')
              .title Optimize Anything
              .descr
                | E-commerce, mobile, apps,
                br
                | landings pages & more.
            li.pricing
              .icon
                img(src='images/stat.png', alt='Simple Pricing')
              .title Simple Pricing
              .descr
                | Pay-on-performance contracts.
                br
                | No consulting fees.
            li.results
              .icon
                img(src='images/check.png', alt='Guaranteed Results')
              .title Guaranteed Results
              .descr
                | Only pay for conversion
                br
                | improvement.

  .results-wrap
    .results
      .res-wrap
        .res-offset
          h2.main-title Our progress to date
          ul
            li
              .value
                span + 
                |  28%
              .descr Average Uplift
            li
              .value
                span $ 
                |  11.2 M
              .descr Total Additional Sales
            li
              .value
                |  8 X
                //- span X 
              .descr Average ROI

