extends ../layouts/default


block unique-seo-meta
  title= "Professional Conversion Rate Optimization Services | Uplift ROI"


  meta( name="description", content="10% conversion improvement or your money back.  Our CRO experts compete to improve your website’s performance and average a 28% uplift.")

  link( rel="canonical", href="http://upliftroi.com/" )

  meta(property="og:locale", content="en_US" )
  meta(property="og:type", content="website" )
  meta(property="og:title", content="Professional Conversion Rate Optimization Services | UpliftROI" )
  meta(property="og:description", content="Launch an optimization competition, and let a team of CRO experts compete to improve your website&#039;s performance. Visit our website to get started." )
  meta(property="og:url", content="http://upliftroi.com/" )
  meta(property="og:site_name", content="Uplift" )
  script( type="application/ld+json")
    { "@context": "http://schema.org", "@type": "WebSite", "url": "http://upliftroi.com/", "potentialAction": { "@type": "SearchAction", "target": "http://upliftroi.com/?s={search_term}", "query-input": "required name=search_term" } }

block content

  include nav-home.jade

  .advantages-wrap
    .advantages
      .adv-wrap
        .adv-offset
          h2.main-title We make it easy to increase conversion rates
          ul
            li.optimizing
              .icon
                img(src='images/devices.png', alt='Optimize Anything')
              .title Optimize Anything
              .descr
                | E-commerce, mobile, apps,
                br
                | landings pages & more.
            li.pricing
              .icon
                img(src='images/stat.png', alt='Simple Pricing')
              .title Simple Pricing
              .descr
                | Pay-on-performance contracts.
                br
                | No consulting fees.
            li.results
              .icon
                img(src='images/check.png', alt='Guaranteed Results')
              .title Guaranteed Results
              .descr
                | Only pay for conversion
                br
                | improvement.

  .results-wrap
    .results
      .res-wrap
        .res-offset
          h2.main-title Our progress to date
          ul
            li
              .value
                span +
                |  28%
              .descr Average Uplift
            li
              .value
                span $
                |  11.2 M
              .descr Total Additional Sales
            li
              .value
                |  8 X
                //- span X
              .descr Average ROI
