// Begin MailChimp Signup Form
link(href='//cdn-images.mailchimp.com/embedcode/slim-081711.css', rel='stylesheet', type='text/css')
style(type='text/css').
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:100%;}
	#mc_embed_signup form{  position: relative;text-align: left;padding: 15px 0 0px 0px;}
	#mc_embed_signup .button{  width: 100% !important;	  height: 40px;font-size: 16px;font-family: 'AvenirLTStd-Medium'; background: #49a749 ; display: inline-block; margin-left: 8px; border: none; border-radius: 5px; padding: 0; height: 50px; width: 200px; position: relative; font-size: 18px; color: #fff; outline: 0;  font-weight: 100;font-size: 15px;height: 37px;border-radius: 3px;}
	#mc_embed_signup .button:hover{   background: #3D903D; }
#mc_embed_signup
	form#mc-embedded-subscribe-form.validate(action='//rockatee.us4.list-manage.com/subscribe/post?u=3fb83263aaee02bfde849969a&id=0ac482026b', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
		#mc_embed_signup_scroll
		//- label(for='mce-EMAIL') Subscribe to our mailing list
		input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='' ,   style="width: 100%;" )
		div(style='position: absolute; left: -5000px;')
			input(type='text', name='b_3fb83263aaee02bfde849969a_0ac482026b', tabindex='-1', value='')
		.clear
			input#mc-embedded-subscribe.button(type='submit', value='Sign up', name='subscribe')