+flash-messages(messages)

block intro

  .nav-home
    .upper
      .header

        .uplift-logo
          a.logo(href='/') uplift

        .right

          nav.upper-nav

            ul

              li
                a(href='/challenge') Challenges

              //- li.dropdown
                a(href='javascript:void(0)') Product

                ul.dropdown-menu
                  li
                    a(href='challenge') Challenges
                  //- li
                    a(href='javascript:void(0)') Dinamic Pricing

              li
                a(href='/pricing') Pricing

              li.dropdown
                a(href='javascript:void(0)') Resources

                ul.dropdown-menu
                  li
                    a(href='/blog') Blog
                  li
                    a(href='/team') About Us
                  li
                    a(href='/contact') Contact Us

          //- .phone-number
            i.glyphicon.glyphicon-earphone
            span 512 650 0972

          .evaluate(data-toggle="modal" data-target="#myModal") Free evaluation

    .upper.upper-head-home

      .hero

        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .info
              h1.main-title.head-title Boost conversion rate - guaranteed
              p.main-description Challenge conversion rate experts to improve site performance. Only pay for results.
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .form
              form( id='home-enquiry', action='post', onsubmit="return false")
                fieldset.input-group
                  .col-lg-12
                      input.url(type='text' id="url", name="url", placeholder="Type your URL")
                      input.email(type='email' id="email", name="email",value=formData.email, placeholder="Enter your Email")
                      button.submit(type='submit', id='home-enquiry') Get Started
      //- .graph
        img(src='images/graph.png', alt='uplift')
    .head-background.img-cover(style="background-image: url('images/bg-home.jpg')")
    .color-background


#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        .modal-title Get a Free Evaluation
        .modal-sub-title Includes detailed analysis of your website's optimization potential
      .modal-body

        .uplift-form
          form(method='post', id='enquiry-form')

            .input-group

              .col-lg-12.col-md-12.col-sm-12.col-xs-12.col-no-padding(style="border-bottom: 1px solid #E2E2E2;")
                .input-home
                  label Work Email
                  input(type='email', name='email', value=formData.email).form-control
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.col-no-padding(style="border-bottom: 1px solid #E2E2E2;")
                .input-home
                  label Phone
                  input(type='text', name='phone', value=formData.phone).form-control
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.col-no-padding
                .button-home
                  button(type='input', data-dismiss='modal', id='g').submit.btn Send
