extends ../layouts/default

block unique-seo-meta
  title= 'Conversion Rate Optimization Pricing | Uplift ROI'
  meta(name="description", content="We guarantee AT LEAST a 10% improvement or your money back.  Our pay-on-performance model ensures you pay for results, and nothing else.")


block content

  include nav-blue-default.jade

  .pricing
    .plans
      .plans-offset
        .plans-wrap
          h1.main-title Pay on performance pricing
          .descr Guaranteed 10% improvement or your money back*

          ul.plan-ex
            li.plan-item
              .plan-wrap
                .title Entrepreneur
                .details
                  ul
                    li.check
                      b Up to
                      |  100,000 unique visitors/mo
                    li.check
                      b Get
                      |  an average
                      b  5x ROI
                    li.check
                      b Guaranteed
                      |  lift of 10%
                //-.quote free evaluation
                .get(data-toggle="modal" data-target="#myModal") Free Evaluation
            li.plan-item
              .plan-wrap
                .title Enterprise
                .details
                  ul
                    li.check
                      b Over
                      |  100,000 unique visitors/mo
                    li.check
                      b Get
                      |  an average
                      b  12x ROI
                    li.check
                      b Guaranteed
                      |  lift of 10%
                //-.quote Custome Quote
                a.get(data-toggle="modal" data-target="#myModal") Get a Quote
  .questions-block
    .questions-wrap
      .questions-offset
        ul.questions
          li.question
            .title How long will it take?
            .descr Challenges typically last 2-8 weeks. It depends on many unique visitors your website receives. More visitors means less time to reach statistical significance.
          li.question
            .title How do you make site changes?
            .descr We make all site changes. You simply install one piece of javascript code into your site's header tag, and we'll take care of the rest.
        ul.questions
          li.question
            .title How do you determine results?
            .descr Results are determined at 95% statistical confidence. This is the standard in conversion rate optimization.
          li.question
            .title What kind of reports will i get?
            .descr You'll have full access to the test results during and after testing, clearly showing the performance of out test design versus your original site.
  .more-questions
    //- 28 reg 2b2f36
    .title Have more questions?
    a.button(href='/contact') Send us an email
