extends ../layouts/default

block content

  .upper
    .header

      a.logo(href='javascript:void(0)')
        img(src='images/logo.png', alt='uplift', title='uplift')
      
      .right
        nav.upper-nav
          ul
            li
              a(href='javascript:void(0)') Challenges
            li
              a(href='javascript:void(0)') Pricing
            li.dropdown
              a(href='javascript:void(0)') Resources
              ul
                li
                  a(href='javascript:void(0)') Submenu
                li
                  a(href='javascript:void(0)') Submenu Submenu
                li
                  a(href='javascript:void(0)') Submenu Submenu Submenu
            li.dropdown
              a(href='javascript:void(0)') More
              ul
                li
                  a(href='javascript:void(0)') Submenu
                li
                  a(href='javascript:void(0)') Submenu Submenu
                li
                  a(href='javascript:void(0)') Submenu Submenu Submenu

        a.evaluate(href='javascript:void(0)') Free evaluation

  .pricing 
    .plans
      .plans-offset
        .plans-wrap
          h1.main-title Pay on performance pricing
          .descr Guaranteed 10% improvement or your money back*

          ul.plan-ex
            li.plan-item
              .plan-wrap
                .title Entrepreneur
                .details
                  ul
                    li.check
                      b Up to
                      |  50.000 unique visitors/mo
                    li.check
                      b Get
                      |  a averange 
                      b 3x ROI
                    li.check
                      b Guaranteed 
                      |  lift of 10% 
                //-.quote free evaluation
                a.get(href='javascript:void(0)') Free Evaluation
            li.plan-item
              .plan-wrap
                .title Enterprise
                .details
                  ul
                    li.check
                      b Up to
                      |  50.000 unique visitors/mo
                    li.check
                      b Get
                      |  a averange 
                      b 8x ROI
                    li.check
                      b Guaranteed 
                      |  lift of 10% 
                //-.quote Custome Quote
                a.get(href='javascript:void(0)') Get a Quote
  .questions-block
    .questions-wrap
      .questions-offset
        ul.questions
          li.question
            .title How long will it take?
            .descr Challenges typically last 2-8 weeks. It depends on many unique visitors your website receives. More visitors means less time to reach statistical significance.
          li.question
            .title How do you make site changes?
            .descr We make all site changes. You simply install one piece of javascript code into your site's header tag, and we'll take care of the rest.
        ul.questions
          li.question
            .title How do you determine results?
            .descr We make all site changes. You simply install one piece of javascript code into your site's header tag, and we'll take care of the rest.
          li.question
            .title What kind of reports will i get?
            .descr You'll have full access to the test results during and after testing, clearly showing the performance of out test design versus your original site.
  .more-questions
    //- 28 reg 2b2f36
    .title Have more questions?
    a.button(href='javascript:void(0)') Send us an email
