include ../mixins/flash-messages

doctype html
html

    //- HTML HEADER
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        script(src="//use.typekit.net/fsz7let.js")
        script.
          try{Typekit.load();}catch(e){}

        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        title= title || 'uplift'

        link(href="/css/bootstrap.css", rel="stylesheet")
        //- link(href="//cloud.typography.com/7134132/722046/css/fonts.css", rel="stylesheet", type="text/css")
        link(href="/css/font-awesome.min.css", rel="stylesheet")
        link(href="/css/main.css", rel="stylesheet")
        link(href="/css/screen.css", rel="stylesheet")
        style.
          ul.navbar-right li:hover ul {display: block;}

        //- This file provides the default styling for the KeystoneJS Content Editor
        if user && user.canAccessKeystone
            link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- Safely remove this block if you are not targeting IE8
        //-[if lt IE 9]
            script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
            script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
        //-[endif]

        //- Include template-specific stylesheets by extending the css block
        block css

        //- Add any other template-specific HEAD tags by extending the head block
        block head

    //- HTML BODY
    body.animated

        block content

        // FOOTER
        .footer
          .footer-wrap
            .row
              .col-lg-2.col-md-2.col-sm-2.col-xs-12
                .column.uplift-logo
                  a.logo(href='/') uplift
                  .copy-text © 2015 uplift
              .col-lg12.col-md-1.col-sm-1.col-xs-1.hidden-xs
              .col-lg-2.col-md-2.col-sm-2.col-xs-4
                .column
                  a(href="/challenge").title Product
                  //- ul
                    li
                      a(href='/challenge') Challenges
                    //- li
                      a(href='javascript:void(0)') Dinamic Pricing

              .col-lg-2.col-md-2.col-sm-2.col-xs-4
                .column
                  a(href="/pricing").title Pricing
                  //- ul
                  //-   li
                  //-     a(href="/pricing") Pricing

              .col-lg-2.col-md-2.col-sm-2.col-xs-4
                .column
                  .title Resources
                  ul
                    li
                      a(href='/blog') Blog
                    li
                      a(href='/team') About Us
                    li
                      a(href='/contact') Contact Us
              .col-lg12.col-md-1.col-sm-1.col-xs-1.hidden-xs

              .col-lg-2.col-md-2.col-sm-2.col-xs-2.hidden-xs

                .evaluate(data-toggle="modal" data-target="#myModal") Free Evaluation


#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        .modal-title Get a Free Evaluation
        .modal-sub-title Includes detailed analysis of your website's optimization potential
      .modal-body

        .uplift-form
          form(method='post', id='enquiry-form')

            .input-group

              input(type='hidden', name='action', value='contact')

              .col-lg-12.col-md-12.col-sm-12.col-xs-12.col-no-padding(style="border-bottom: 1px solid #E2E2E2;")
                .input-home
                  label Work Email
                  input(type='email', name='email', value=).form-control

              .col-lg-12.col-md-12.col-sm-12.col-xs-12.col-no-padding
                .button-home
                  button(type='submit', data-dismiss='modal', id='enquiry-form').submit.btn Send

#myModalNew.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        .modal-title Get a Quote
        .modal-sub-title Includes detailed analysis of your website's optimization potential
      .modal-body

        .uplift-form
          form(method='post')

            .input-group

              input(type='hidden', name='action', value='contact')

              .col-lg-12.col-md-12.col-sm-12.col-xs-12.col-no-padding(style="border-bottom: 1px solid #E2E2E2;")
                .input-home
                  label Work Email
                  input(type='email', name='email', value=).form-control

              .col-lg-12.col-md-12.col-sm-12.col-xs-12.col-no-padding
                .button-home
                  button(type='submit', data-dismiss='modal').submit.btn Send
          // row
        // container
        // Footer
        // MODAL FOR CONTACT

        script(src="js/lib/jquery/jquery-1.11.1.js")
        script(src="/js/lib/bootstrap/bootstrap-3.2.0.min.js")
        script(src="/js/scripts.js")
