/* line 3, ../sass/screen.scss */
div.intro > p {
  text-align: left;
}

/* line 7, ../sass/screen.scss */
.nav-home {
  position: relative;
}

/* line 11, ../sass/screen.scss */
.head-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
}

/* line 21, ../sass/screen.scss */
.img-cover {
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

/* line 34, ../sass/screen.scss */
.uplift-logo .logo {
  font-family: 'AvenirLTStd-Heavy';
  font-size: 26px;
  color: #215694;
}
/* line 39, ../sass/screen.scss */
.uplift-logo .logo:hover {
  text-decoration: none;
}
/* line 44, ../sass/screen.scss */
.uplift-logo .copy-text {
  font-size: 12.5px;
  color: #9196aa;
  letter-spacing: 0.5px;
}

/* line 60, ../sass/screen.scss */
.upper-blue {
  background-color: #1E5799 !important;
}

/* line 65, ../sass/screen.scss */
.w h2, p {
  font-family: 'Arial';
}

/* line 72, ../sass/screen.scss */
.phone-number {
  transition: 200ms all ease-in-out;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 52px;
}
/* line 80, ../sass/screen.scss */
.phone-number i {
  margin-right: 8px;
  font-size: 13px;
}
/* line 85, ../sass/screen.scss */
.phone-number span {
  font-size: 12px;
}
/* line 89, ../sass/screen.scss */
.phone-number:hover {
  transition: 200ms all ease-in-out;
  color: #FFF;
}

/* line 98, ../sass/screen.scss */
.main-title {
  font-family: 'AvenirLTStd-Light';
  font-weight: 300;
  font-size: 28px;
  color: #2b2f36;
  text-align: center;
  margin: 30px 0px;
}

/* line 109, ../sass/screen.scss */
.color-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  background: #00397e;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzk3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDE0MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #00397e 0%, #001426 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00397e), color-stop(100%, #001426));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00397e 0%, #001426 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00397e 0%, #001426 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00397e 0%, #001426 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00397e 0%, #001426 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00397e', endColorstr='#001426',GradientType=0 );
  /* IE6-8 */
  opacity: 0.9;
}

/* line 135, ../sass/screen.scss */
.container-about input:focus, .container-about textarea:focus {
  border: 1px solid #225692;
}

/* line 143, ../sass/screen.scss */
.border-bottom {
  border-bottom: 1px solid #f1f2f3;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* line 151, ../sass/screen.scss */
.evaluate {
  font-family: 'AvenirLTStd-Heavy' !important;
  background: none !important;
  border: 2px solid #FFF;
  padding: 8px 15px 5px 15px !important;
  color: #fff !important;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
/* line 165, ../sass/screen.scss */
.evaluate:hover {
  transition: 200ms all ease-in-out;
  text-decoration: none;
  background-color: #FFF !important;
  color: #215694 !important;
}

/* line 175, ../sass/screen.scss */
.button, .get {
  cursor: pointer;
}

/* line 181, ../sass/screen.scss */
.graph {
  margin-top: -50px;
}

/* line 189, ../sass/screen.scss */
.hero .info {
  text-align: center;
}
/* line 192, ../sass/screen.scss */
.hero .info .head-title {
  font-family: 'AvenirLTStd-Heavy' !important;
  font-size: 44px !important;
  text-align: center !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 54px;
}
/* line 201, ../sass/screen.scss */
.hero .info .main-description {
  text-align: center !important;
  font-family: 'AvenirLTStd-Light' !important;
  color: #FFFFFF !important;
}
/* line 208, ../sass/screen.scss */
.hero .form {
  padding-bottom: 80px;
}
/* line 213, ../sass/screen.scss */
.hero .form .input-group input {
  font-size: 14px !important;
}
/* line 217, ../sass/screen.scss */
.hero .form .input-group .submit {
  font-size: 16px !important;
  font-family: 'AvenirLTStd-Light' !important;
}

/* line 225, ../sass/screen.scss */
.col-no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 232, ../sass/screen.scss */
.pricing {
  background-color: #F0F0F0;
}
/* line 237, ../sass/screen.scss */
.pricing .plans .plans-offset .plans-wrap .main-title {
  font-family: 'AvenirLTStd-Heavy';
}
/* line 243, ../sass/screen.scss */
.pricing .plans .plans-offset .plans-wrap .plan-item .plan-wrap .title {
  font-family: 'AvenirLTStd-Light' !important;
}
/* line 247, ../sass/screen.scss */
.pricing .plans .plans-offset .plans-wrap .plan-item .plan-wrap .details ul li b {
  font-family: 'AvenirLTStd-Heavy' !important;
}
/* line 251, ../sass/screen.scss */
.pricing .plans .plans-offset .plans-wrap .plan-item .plan-wrap .get {
  font-family: 'AvenirLTStd-Medium' !important;
  letter-spacing: 0.3px;
}

/* line 261, ../sass/screen.scss */
.questions-block {
  border-bottom: 0px;
}

/* line 265, ../sass/screen.scss */
.questions-block .questions-wrap .questions-offset .questions .question .title {
  font-family: 'AvenirLTStd-Heavy' !important;
}

/* line 269, ../sass/screen.scss */
.more-questions {
  padding-top: 50px;
  border-top: 1px solid #f1f2f3;
}
/* line 273, ../sass/screen.scss */
.more-questions .button {
  font-family: 'AvenirLTStd-Medium' !important;
  letter-spacing: 0.5px;
}

/* line 281, ../sass/screen.scss */
.advantages-wrap {
  border-bottom: 1px solid #DFDFDF;
}

/* line 285, ../sass/screen.scss */
.advantages-wrap, .results-wrap {
  padding: 40px 0px;
  background-color: #F0F0F0;
}
/* line 289, ../sass/screen.scss */
.advantages-wrap .main-title, .results-wrap .main-title {
  padding-bottom: 50px !important;
  font-family: 'AvenirLTStd-Light' !important;
}

/* line 298, ../sass/screen.scss */
.advantages-wrap .advantages .adv-wrap .adv-offset ul li .title {
  transition: 100ms all ease-in-out;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'AvenirLTStd-Heavy' !important;
  color: #3e4552;
  margin-bottom: 10px;
}
/* line 308, ../sass/screen.scss */
.advantages-wrap .advantages .adv-wrap .adv-offset ul li .descr {
  transition: 100ms all ease-in-out;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.64);
  font-family: 'AvenirLTStd-Medium';
}
/* line 317, ../sass/screen.scss */
.advantages-wrap .advantages .adv-wrap .adv-offset ul li:hover .title, .advantages-wrap .advantages .adv-wrap .adv-offset ul li:hover .descr {
  transition: 100ms all ease-in-out;
  color: #215694;
}

/* line 324, ../sass/screen.scss */
.results-wrap .results .res-wrap .res-offset ul {
  padding-top: 14px;
}
/* line 327, ../sass/screen.scss */
.results-wrap .results .res-wrap .res-offset ul .value {
  font-family: 'AvenirLTStd-Heavy' !important;
}

/* line 332, ../sass/screen.scss */
.results {
  background-color: #F0F0F0;
}

/* line 338, ../sass/screen.scss */
.calign {
  padding-top: 60px;
}
/* line 341, ../sass/screen.scss */
.calign h4.description {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #72B166;
}

/* line 349, ../sass/screen.scss */
.ourstory {
  padding-bottom: 70px;
}
/* line 351, ../sass/screen.scss */
.ourstory .text-left {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.78);
  line-height: 30px;
}

/* line 358, ../sass/screen.scss */
.ourteam {
  padding: 30px 0px 80px 0px;
}
/* line 365, ../sass/screen.scss */
.ourteam .member .info .name {
  font-family: 'AvenirLTStd-Heavy';
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 20px 0px 2px 0px;
}
/* line 373, ../sass/screen.scss */
.ourteam .member .info .position {
  font-family: 'AvenirLTStd-Roman';
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #9196AA;
}

/* line 385, ../sass/screen.scss */
.container-about {
  margin-bottom: 0px;
}
/* line 390, ../sass/screen.scss */
.container-about .uplift-form .input-group {
  max-width: 100%;
}
/* line 396, ../sass/screen.scss */
.container-about .uplift-form .button-home .submit {
  font-family: 'AvenirLTStd-Medium';
  background: #49a749;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #49a749), color-stop(100%, #62ba62));
  background: -webkit-linear-gradient(top, #49a749 0%, #62ba62 100%);
  background: linear-gradient(to bottom, #49a749 0%, #62ba62 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49a749', endColorstr='#62ba62', GradientType=0);
  color: #FFF;
  border: none;
}
/* line 409, ../sass/screen.scss */
.container-about .text-left {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.64);
  line-height: 30px;
}
/* line 415, ../sass/screen.scss */
.container-about iframe {
  height: 383px;
}

/* line 424, ../sass/screen.scss */
.calign.image-4 {
  margin-bottom: 0px;
  height: 500px;
}

/* line 430, ../sass/screen.scss */
.popup.left .ftr .arw {
  margin-top: -1px;
}

/* line 434, ../sass/screen.scss */
.popup.right .ftr .arw {
  margin-top: -1px;
}

/* line 438, ../sass/screen.scss */
.popup .body .rb {
  right: 1px;
}

/* line 445, ../sass/screen.scss */
.blog-post .date {
  position: relative;
  padding: 15px 0px 25px 20px;
}
/* line 449, ../sass/screen.scss */
.blog-post .date .label {
  background-color: #1E5799;
  font-size: 13px;
  font-weight: 300;
  padding: 6px 12px;
  position: absolute;
}

/* line 459, ../sass/screen.scss */
.blog-wrap .blog-post .title {
  font-size: 36px;
  padding: 30px 20px;
}

/* line 467, ../sass/screen.scss */
.blog-wrap .blog-post .info {
  margin-top: 0px;
}
/* line 475, ../sass/screen.scss */
.blog-wrap .blog-post .main-image {
  margin-bottom: 30px;
}

/* line 484, ../sass/screen.scss */
.uplift-form .form-group {
  margin-bottom: 0px;
}
/* line 490, ../sass/screen.scss */
.uplift-form form .input-group {
  max-width: 380px;
  box-shadow: none !important;
  background-color: #FFF;
  padding-top: 5px !important;
}
/* line 496, ../sass/screen.scss */
.uplift-form form .input-group .input-home {
  padding: 15px 5px;
}
/* line 500, ../sass/screen.scss */
.uplift-form form .input-group .button-home {
  padding: 20px 5px;
}
/* line 503, ../sass/screen.scss */
.uplift-form form .input-group .button-home .submit {
  border-radius: 2px;
  width: 100%;
  margin-left: 0px !important;
  box-shadow: none;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 45px;
}
/* line 515, ../sass/screen.scss */
.uplift-form form .input-group label {
  font-family: 'AvenirLTStd-Medium';
  letter-spacing: 0.5px;
  font-size: 11px;
  text-align: left;
  width: 100%;
  text-transform: uppercase;
  color: #8C939A;
}
/* line 525, ../sass/screen.scss */
.uplift-form form .input-group input, .uplift-form form .input-group textarea {
  width: 100% !important;
  border-radius: 0px !important;
  border: none !important;
  padding: 0px 0px !important;
  height: 20px !important;
  box-shadow: none !important;
}
/* line 534, ../sass/screen.scss */
.uplift-form form .input-group textarea {
  height: auto !important;
}

/* line 545, ../sass/screen.scss */
.modal .modal-dialog {
  width: 400px;
  padding-top: 130px;
}
/* line 549, ../sass/screen.scss */
.modal .modal-dialog .modal-content {
  border-radius: 5px;
}
/* line 552, ../sass/screen.scss */
.modal .modal-dialog .modal-content .modal-header {
  background: #F8F8F8;
  font-weight: 300;
  letter-spacing: 0.5px;
  border-radius: 5px 5px 0px 0px;
}
/* line 558, ../sass/screen.scss */
.modal .modal-dialog .modal-content .modal-header .modal-title {
  color: #225692;
  font-size: 22px;
}
/* line 563, ../sass/screen.scss */
.modal .modal-dialog .modal-content .modal-header .modal-sub-title {
  color: #8C8C8C;
  font-size: 13px;
}
/* line 569, ../sass/screen.scss */
.modal .modal-dialog .modal-content .modal-body {
  background: #FFF;
  padding-top: 0px;
  border-radius: 0px 0px 5px 5px;
}
/* line 576, ../sass/screen.scss */
.modal .modal-dialog .modal-content .modal-body .uplift-form .input-group {
  background: none;
  width: 100%;
  max-width: none;
}
/* line 582, ../sass/screen.scss */
.modal .modal-dialog .modal-content .modal-body .uplift-form .input-home {
  padding: 15px 0px;
}
/* line 585, ../sass/screen.scss */
.modal .modal-dialog .modal-content .modal-body .uplift-form .input-home input, .modal .modal-dialog .modal-content .modal-body .uplift-form .input-home textarea {
  background: none !important;
}
/* line 590, ../sass/screen.scss */
.modal .modal-dialog .modal-content .modal-body .uplift-form .button-home {
  padding: 0px;
  padding-top: 20px;
}
/* line 594, ../sass/screen.scss */
.modal .modal-dialog .modal-content .modal-body .uplift-form .button-home .submit {
  background: #49a749;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #49a749), color-stop(100%, #62ba62));
  background: -webkit-linear-gradient(top, #49a749 0%, #62ba62 100%);
  background: linear-gradient(to bottom, #49a749 0%, #62ba62 100%);
  color: #FFF;
  border: none;
}

/* line 615, ../sass/screen.scss */
.header .uplift-logo .logo {
  color: #FFF;
}
/* line 622, ../sass/screen.scss */
.header .upper-nav ul {
  transition: 200ms all ease-in-out;
}
/* line 626, ../sass/screen.scss */
.header .upper-nav ul li a {
  color: #fff;
  font-family: 'AvenirLTStd-Medium';
}
/* line 633, ../sass/screen.scss */
.header .upper-nav ul li.dropdown:after {
  border-color: #FFFFFF transparent transparent transparent;
}
/* line 639, ../sass/screen.scss */
.header .upper-nav li.dropdown ul.dropdown-menu {
  border: none;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: transparent;
}
/* line 645, ../sass/screen.scss */
.header .upper-nav li.dropdown ul.dropdown-menu::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: #FFF;
  position: absolute;
  top: 3px;
  left: 9px;
}
/* line 657, ../sass/screen.scss */
.header .upper-nav li.dropdown ul.dropdown-menu li {
  background-color: #FFF;
  margin-left: 0px;
  padding: 0px;
  width: 100%;
}
/* line 663, ../sass/screen.scss */
.header .upper-nav li.dropdown ul.dropdown-menu li a {
  padding: 10px 20px;
  color: #8C939A;
  text-transform: inherit;
  font-size: 13px;
  font-family: 'AvenirLTStd-Medium';
  transition: 200ms all ease-in-out;
}
/* line 671, ../sass/screen.scss */
.header .upper-nav li.dropdown ul.dropdown-menu li a:hover {
  transition: 200ms all ease-in-out;
  background-color: #f1f0f0;
  color: #215694;
}

/* line 689, ../sass/screen.scss */
.footer .phone-number {
  color: rgba(33, 86, 148, 0.8);
  margin-top: 8px;
  position: initial;
}
/* line 694, ../sass/screen.scss */
.footer .phone-number span {
  font-size: 14px;
}
/* line 698, ../sass/screen.scss */
.footer .phone-number:hover {
  color: #215694;
}
/* line 703, ../sass/screen.scss */
.footer .footer-wrap {
  text-align: left !important;
}
/* line 708, ../sass/screen.scss */
.footer .footer-wrap .column .title {
  font-family: 'AvenirLTStd-Heavy';
  font-size: 12px;
  text-transform: uppercase;
  color: #3e4552;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
}
/* line 717, ../sass/screen.scss */
.footer .footer-wrap .column ul {
  list-style: none;
  padding-left: 0px;
}
/* line 721, ../sass/screen.scss */
.footer .footer-wrap .column ul li {
  padding: 2px 0px;
}
/* line 724, ../sass/screen.scss */
.footer .footer-wrap .column ul li a {
  transition: 200ms all ease-in-out;
  color: #9196aa;
}
/* line 728, ../sass/screen.scss */
.footer .footer-wrap .column ul li a:hover {
  transition: 200ms all ease-in-out;
  color: #000;
}
/* line 737, ../sass/screen.scss */
.footer .footer-wrap .evaluate {
  color: #215694 !important;
  border: 2px solid #215694;
  padding: 10px 15px 8px 15px !important;
}
/* line 742, ../sass/screen.scss */
.footer .footer-wrap .evaluate:hover {
  background-color: #215694 !important;
  color: #FFF !important;
}

@media (max-width: 991px) {
  /* line 760, ../sass/screen.scss */
  .phone-number {
    display: none;
  }

  /* line 766, ../sass/screen.scss */
  .footer .phone-number {
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 781, ../sass/screen.scss */
  .upper .header {
    height: 140px;
  }
  /* line 784, ../sass/screen.scss */
  .upper .header .logo {
    float: none;
    margin: 0 auto;
    display: table;
    margin-top: 34px;
  }
  /* line 791, ../sass/screen.scss */
  .upper .header .right {
    display: block;
  }
  /* line 795, ../sass/screen.scss */
  .upper .header .upper-nav {
    margin: 0 auto;
    display: table;
  }
  /* line 799, ../sass/screen.scss */
  .upper .header .upper-nav ul {
    text-align: center;
  }
  /* line 802, ../sass/screen.scss */
  .upper .header .upper-nav ul li {
    margin: 0 35px;
  }
  /* line 808, ../sass/screen.scss */
  .upper .header .evaluate {
    display: none;
  }

  /* line 820, ../sass/screen.scss */
  .hero .info .head-title {
    text-align: center !important;
    font-size: 35px !important;
    line-height: 45px;
  }
  /* line 826, ../sass/screen.scss */
  .hero .info .main-description {
    text-align: center !important;
  }

  /* line 839, ../sass/screen.scss */
  .advantages-wrap .adv-offset ul li {
    width: 100% !important;
    border-bottom: 1px solid #DDD;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  /* line 845, ../sass/screen.scss */
  .advantages-wrap .adv-offset ul li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  /* line 859, ../sass/screen.scss */
  .footer .footer-nav {
    margin-top: -5px;
  }
  /* line 862, ../sass/screen.scss */
  .footer .footer-nav ul {
    float: none !important;
    margin: 0 auto;
    display: table;
    padding-left: 0px;
  }
  /* line 870, ../sass/screen.scss */
  .footer .column {
    text-align: center;
  }
  /* line 873, ../sass/screen.scss */
  .footer .column.uplift-logo {
    margin: 0 auto;
    display: table;
    margin-bottom: 35px;
  }

  /* line 885, ../sass/screen.scss */
  .pricing .plans .plans-offset .plans-wrap {
    width: 100%;
    margin-left: 0px;
  }

  /* line 897, ../sass/screen.scss */
  .blog-wrap .blog .blog-row .blog-offset .blog-columns .blog-left, .blog-wrap .blog .blog-row .blog-offset .blog-columns .blog-right {
    width: 100%;
    float: none;
  }
  /* line 904, ../sass/screen.scss */
  .blog-wrap .pagination {
    padding-top: 0px;
  }

  /* line 913, ../sass/screen.scss */
  .ourteam .member {
    margin-bottom: 40px;
  }

  /* line 922, ../sass/screen.scss */
  .container-about .text-left {
    float: none;
    text-align: center;
  }
  /* line 927, ../sass/screen.scss */
  .container-about .right-map {
    padding-top: 20px;
    border-top: 1px solid #E2E2E2;
  }
  /* line 931, ../sass/screen.scss */
  .container-about .right-map .text-left {
    margin-bottom: 20px;
  }
}
@media (max-width: 625px) {
  /* line 949, ../sass/screen.scss */
  .results-wrap .res-offset ul li {
    width: 100% !important;
    border-bottom: 1px solid #DDD;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  /* line 955, ../sass/screen.scss */
  .results-wrap .res-offset ul li:last-child {
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  /* line 973, ../sass/screen.scss */
  .pricing .plans .plans-offset .plans-wrap .plan-ex .plan-item {
    width: 100%;
    margin-bottom: 25px;
  }
  /* line 979, ../sass/screen.scss */
  .pricing .plans .plans-offset .plans-wrap .plan-ex .plan-item .plan-wrap .get {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  /* line 991, ../sass/screen.scss */
  .questions-block .questions-wrap .questions-offset .questions .question {
    width: 100%;
  }
}
@media (max-width: 442px) {
  /* line 1000, ../sass/screen.scss */
  .upper .header .upper-nav ul li {
    margin: 0px 28px;
  }
  /* line 1003, ../sass/screen.scss */
  .upper .header .upper-nav ul li a {
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  /* line 1014, ../sass/screen.scss */
  .upper .header .upper-nav ul li {
    margin: 0px 15px;
  }
}
/* line 1020, ../sass/screen.scss */
.recent-posts h2 {
  font-size: 18px;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 10px;
}
/* line 1027, ../sass/screen.scss */
.recent-posts .recent-post {
  border-top: 1px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #9ea8b5;
  padding-top: 9px;
  padding-left: 18px;
}
/* line 1038, ../sass/screen.scss */
.recent-posts .recent-post .title {
  color: #1E5799;
  font-weight: bold;
}
/* line 1042, ../sass/screen.scss */
.recent-posts .recent-post .info {
  font-size: 11px;
  color: #9ea8b5;
}
/* line 1045, ../sass/screen.scss */
.recent-posts .recent-post .info a {
  color: #fe471a;
}
/* line 1048, ../sass/screen.scss */
.recent-posts .recent-post .info .date {
  float: right;
  margin-right: 10px;
}
